# Feature Engineering

In this notebook, we generate additional features that will help us come up with a more predictive model.

In [1]:
# Import necessary libraries
import pandas as pd
import dill
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
# Read unprocessed data (old and new datasets already merged)
df_xunprocessed=dill.load(open('./data/NYC-features.dill','rb'))
#df_unprocessed = dill.load(open('./data/NYC-finalfeatures.dill','rb'))
df_reviews = dill.load(open('./data/NYC-google-reviews1.dill','rb'))

In [4]:
len(df_xunprocessed)

16517

In [25]:
df_reviews.head()

,business_id,text,user_id,relative_time_description,time_created,user_rating
0,RDE8pT0YZbz4BsO_sPKbcg,Great place for lunch! Pleasant atmosphere. Am...,Daniel Donnelly,2 months ago,2019-02-26 02:49:43,5
1,RDE8pT0YZbz4BsO_sPKbcg,It’s an amazing little coffee shop. The food ...,Valentina Hernandez,2 weeks ago,2019-04-11 19:31:10,5
2,RDE8pT0YZbz4BsO_sPKbcg,"Awesome coffee, delicious pastries, and an inc...",Patrick Hart,2 months ago,2019-02-19 17:40:37,5
3,RDE8pT0YZbz4BsO_sPKbcg,Gem in the Bronx! Their food and drinks are am...,Ange Mallonga,2 weeks ago,2019-04-15 17:20:13,5
4,RDE8pT0YZbz4BsO_sPKbcg,This place says “gentrification” all over it. ...,Nick Mennell,5 months ago,2018-11-29 15:50:10,5

Let's list all the columns to think about our options for feature engineering.

In [26]:
df_xunprocessed.columns

Index(['business_id', 'categories', 'city', 'user_ratings_total',
       'coordinates.latitude', 'coordinates.longitude', 'name',
       'display_phone', 'location.display_address', 'location.state',
       'location.zipcode', 'is_closed', 'rating', 'review_count', 'price',
       'transcations', 'url'],
      dtype='object')

Each encrypted business_id from the df_unprocessed dataframe has corresponding entries in the df_reviews dataframe with the same business_id.

In [27]:
# Reviews of the first entry of the df_unprocessed dataframe
df_reviews[df_reviews['business_id'] == df_xunprocessed['business_id'][0]]

,business_id,text,user_id,relative_time_description,time_created,user_rating
0,RDE8pT0YZbz4BsO_sPKbcg,Great place for lunch! Pleasant atmosphere. Am...,Daniel Donnelly,2 months ago,2019-02-26 02:49:43,5
1,RDE8pT0YZbz4BsO_sPKbcg,It’s an amazing little coffee shop. The food ...,Valentina Hernandez,2 weeks ago,2019-04-11 19:31:10,5
2,RDE8pT0YZbz4BsO_sPKbcg,"Awesome coffee, delicious pastries, and an inc...",Patrick Hart,2 months ago,2019-02-19 17:40:37,5
3,RDE8pT0YZbz4BsO_sPKbcg,Gem in the Bronx! Their food and drinks are am...,Ange Mallonga,2 weeks ago,2019-04-15 17:20:13,5
4,RDE8pT0YZbz4BsO_sPKbcg,This place says “gentrification” all over it. ...,Nick Mennell,5 months ago,2018-11-29 15:50:10,5

Now we can generate features using the reviews metadata.

In [29]:
'''
df_ml = df_xunprocessed[['review_count','rating','price','std_of_stars',
                        'median_of_stars','stars_linear_coef','restaurant_density',
                        'restaurant_similar_density','user_ratings_total','zstar_all','zprice_all','transactions'
                        'is_chain','relative_user_ratings_total']]
'''
from datetime import datetime
from sklearn.linear_model import LinearRegression
import sys

regr = LinearRegression()

#df_unprocessed['reviews_per_week'] = np.nan
#df_unprocessed['oldest_review'] = np.nan # expressed in days from today
df_xunprocessed['std_of_stars'] = np.nan
df_xunprocessed['median_of_stars'] = np.nan
df_xunprocessed['stars_linear_coef'] = np.nan
#df_unprocessed['reactions_per_week'] = np.nan


# 
for i, restaurant in df_xunprocessed.iterrows():
    try:
        reviews = df_reviews[df_reviews['business_id'] == restaurant['business_id']]
        review_date=[]
    #print(len(reviews[reviews['user_rating']=='']))
    # difference between newest and oldest review in weeks
        for eachtime in reviews['time_created']:
            review_date.append(datetime.strptime(eachtime, "%Y-%m-%d %H:%M:%S"))
        dates = [d.toordinal() for d in review_date] # convert dates to integer
        dates = np.asarray(dates)
    # fit linear regression model to find coefficient (do stars increase or decrease?)
        regr.fit(dates.reshape(-1,1),reviews['user_rating'].values.reshape(-1,1)) 
    
    #df_unprocessed.loc[i,'reviews_per_week'] = nreviews / delta_time
    
    # The following way of calculating frequency is better. Since restaurants with a small number of reviews
    # that came at the same period would seem like they get reviews very frequently
    #df_unprocessed.loc[i,'reviews_per_week'] = nreviews / weeks_since_older_review
    #df_unprocessed.loc[i,'oldest_review'] = weeks_since_older_review
        #df_xunprocessed.loc[i,'std_of_stars'] = np.std(reviews['user_rating'])
        #df_xunprocessed.loc[i,'median_of_stars'] = np.median(reviews['user_rating'])
        df_xunprocessed.loc[i,'transactions_value'] = len(df_xunprocessed.loc[i,'transcations'])
        #print(len(df_unprocessed.loc[i,'transcations']))
    # same for this, use weeks_since_older review instead of delta_time
    #df_unprocessed.loc[i,'reactions_per_week'] = nreactions / weeks_since_older_review
        df_xunprocessed.loc[i,'stars_linear_coef'] = regr.coef_[0][0]
    
        if i % 100 == 0:
            print(i)
    except:
        print(restaurant['business_id'])
        print(sys.exc_info())
        continue

0
100
TfIvCgc2XgYqzyif-Cytqw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6308>)
200
300
400
ISxL2HWJNCazHAdy5oblJA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bba88>)
500
600
hR1bG0jgd2_Z9Q5L6siTEw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6fc8>)
700
jva4AMX7zRkNsY3DKX9LlQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6dc8>)
800
900
ePVlFbTzdVQFWie__kdplg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bbdc8>)
cF3deEEqK3Fhj22k0pE1_Q
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6d08>)
1000
1100
5_kXMGZUmjAcyXaqvU9ZQg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bba88>)
A-OJFfD0jsAX8WEZ5yaDsQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6f08>)
1200
AYXCBDNgZlFw8bdmL5-FGA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6988>)
1300
U9F2zvPCGrPWn2TQ2geBBw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b60c8>)
1400
PEeoyqiSGpWpZ9hOMyibvw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4ba3c8>)
PPesoz9e6OjxhqR2Jtt6FQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b47d1c8>)
1500
1600
1700
1800
1900
N5irQi1ZUFesqJoFIKnBIQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5be08>)
2000
2100
nzeYtIQewLUTq6YgmHl0aA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd77288>)
2200
2300
2400
2500
2600
2700
2800
2900
gYKS0rV9G0dzYmYOY5Ph6w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c07c8>)
3000
3100
3200
MSp_C0yxjbeNhZLiIyrqsQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6408>)
3300
3400
3500
3600
3700
NgkQtIzMjUISyAreyzrtKg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd71a88>)
LMJ1H8TYfnFFCSJIH-Rzjg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6bc8>)
uoWPlDpOoRa91GU6Czo28w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bbdc8>)
mv1d3-wUUVncmFSfzzoP8g
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6d08>)
bu1wYO4uFJo5QsASmB3F_A
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b8bc8>)
3800
n9QfImr68-c3TnUyflMsTQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b47d1c8>)
ck1nF4r722kNx93XAqmLUw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b60c8>)
3900
4000
4100
4200
Q1bISkLESnjjKrBhqrCUZg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd77288>)
wPymJMA9Esa2i6HVdo-VNg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b75c8>)
4300
4400
LoGeKb09bTMawk9xstb-hQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bf408>)
4500
IDEq8v88W58i2QZuNFjl-w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5be08>)
4600
4700
4800
r6ZrAEbUgacU6i5mvySBMQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6c08>)
4900
mCDTUBqJFW9ABq7Nl0eoWA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b7f88>)
5000
5100
5200
5300
yZBCm0u43u_eYoTBX3ro-w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6748>)
5400
5500
5600
5700
5800
wFjELmsEYh972BG79HwMqA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6408>)
5900
6ycMkuiDwmvJKYbSP-24Cg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6648>)
6000
pNYcGGAj4AYaExlmrEmfUw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b47d508>)
6100
Ng092KqBbDX6FWUtpWghww
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5bdc8>)
6200
6300
aS96CjGeSWXjKEAENvW68w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd71a88>)
6400
6500
6600
6700
O1fUmxt3kbV-rnyjBtzAfw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c08c8>)
6800
6900
7000
dB_gqiEAh-AEjYlgDNf9xw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6a88>)
7100
7200
iOP5--ysHdx8tllieeSsig
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6408>)
6BzhS7FHZXVfDKLVFDxMMA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b75c8>)
x67ykjBpxm3FrPSbnpBrmQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd77288>)
N4V9aeManzL4PhjZX7iKKw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5be08>)
7300
7400
7500
d1XMCuqnrvhQvK8dEYMoHA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6648>)
7600
joKEg8kJnQPNys0vLzpBOA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5b408>)
7700
7800
1ctLdRJjP9m5QdL7ruYAzA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4babc8>)

7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
6Bv2zPuLN1ni11TtCd5K4w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6408>)
9400
9500
9600
9700
1J4qHPYqIH7iKzrZVkqUqQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bbdc8>)
9800
9900
mBFnE5EDUwpZiEsSf_1piA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b7c48>)
10000
7F-PW3rS1Sp3dvg2gaAssw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4babc8>)
3I2fkqd7SbtPAJiMJj4_vQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c0488>)
10100
FxS3IdFkVC-EISieFeErxQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f1266a5bdc8>)
10200
10300
10400
10500
10600
10700
10800
10900
J3RJEZcaAdgSKJpzujLq7g
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6f08>)
5RtT1BnIN7gMaZdxVVjn3Q
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4ba8c8>)
11000
nX_k1CgS4DHcsNg9aeCFQQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c07c8>)
11100
11200
11300
11400
11500
11600
11700
11800
11900
rML0mPoWQHxG8ifHGuI7pQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b7288>)
12000
YK8hcNNS3svV7bCnhvePbw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6d08>)
12100
12200
12300
12400
lt0_k3BF8GcZgJfTXdSqBQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6d08>)
12500
PD0O_q0RXvEkgC6-07ffpQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c07c8>)
nFheFe5nU7hSSydNjsliGA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6f88>)
5KDfEi17KRFD1TrzZyT4lQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6648>)
12600
12700
12800
12900
13000
9cPuiwxrT32VvoIF3fHaZQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd71a88>)
13100
13200
13300
BYIfW55zHJNKzTvMv6hAZA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b6f48>)
HrGdbJEZsB3Pw43j8nyO0w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b76c8>)
13400
13500
13600
13700
13800
13900
rPKXTHDgtGI4XEo2HuVpow
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127bd77288>)
14000
14100
14200
14300
zwi1iX5X6fCWCKl3wt75fA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b75c8>)
V26eOpLZW8ab2bYITqcuZw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f12e47d76c8>)
14400
14500
14600
iPy0iwI6Bty1dzmf2wyGrQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b47d808>)
14700
14800
qa8OUhoOiOmCYbAAQAj1cA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bf408>)
BUlrIcNw0bzlKmvBP5SG5A
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bbdc8>)
14900
wlW-_SrodbDpA2YvwrIubg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4ba8c8>)
Ra6QEAIWoXaFK1ejytIy-w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b75c8>)
15000
15100
Cn-ylhI_Zfi1NepzJe964w
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b8bc8>)
15200
15300
ZofuLR3VhaIGAAkXL0zrFQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c0e48>)
15400
15500
15600
15700
xF5FsCG8yHs3oAQ7QUtCNg
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4bf408>)
15800
Dt504pirhMYgJLFelBwxgw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4c08c8>)
QSqypoAMwQh15uBBmPCJNQ
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f12e47d76c8>)
15900
16000
16100
qpdVKKTjRjrPyIjpRbboXw
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f12e47d76c8>)
16200
16300
16400
fjEQyFZKi2YF-30Cs7k8FA
(<class 'ValueError'>, ValueError('Found array with 0 sample(s) (shape=(0, 1)) while a minimum of 1 is required.',), <traceback object at 0x7f127b4b7288>)
16500

Now we will make a dictionary of restaurant categories that will help us calculate relative quantities. The keys are the restaurant categories and the values are the indices of the restaurants that belong in each category.

In [30]:
# Create a dictionary of categories with the index of each corresponding restaurant
category_dic = {}
for i, restaurant in df_xunprocessed.iterrows():
    for category in restaurant['categories']:
        try:
            category_dic[category] += [i]
        except:
            category_dic[category] = [i]

In [31]:
# make price numeric
df_xunprocessed = df_xunprocessed.replace({'price':{'$':1,'$$':2,'$$$':3,'$$$$':4}})
#df_unprocessed = df_unprocessed.replace({'transcations':len({'[]'':0,'[pickup]':1, '[restaurant_reservation]':1, '[delivery]':1,'[pickup, restaurant_reservation]':2,'[restaurant_reservation, pickup]':2,'[pickup, delivery]':2,'[delivery, pick up]':2,'[restaurant_reservation, delivery':2,'pickup, delivery, restaurant_reservation':3,'pickup, restaurant_reservation, delivery':3})})
df_xunprocessed.head()

,business_id,categories,city,user_ratings_total,coordinates.latitude,coordinates.longitude,name,display_phone,location.display_address,location.state,...,is_closed,rating,review_count,price,transcations,url,std_of_stars,median_of_stars,stars_linear_coef,transactions_value
0,RDE8pT0YZbz4BsO_sPKbcg,"[cafes, coffee, catering]",South Bronx,108,40.810086,-73.921687,Mottley Kitchen,(929) 308-2099,"[402 E 140th St, South Bronx, NY 10454]",NY,...,False,4.5,63,2,"[pickup, delivery]",https://www.yelp.com/biz/mottley-kitchen-south...,0.000000,5.0,-0.000000,2.0
1,8G6H30Krmj8-OHs6hZfT1g,"[newamerican, southern, comfortfood]",New York,79,40.817300,-73.941710,Belle Harlem,(347) 819-4076,"[2363 Adam Clayton Powell Blvd, New York, NY 1...",NY,...,False,4.5,120,3,[],https://www.yelp.com/biz/belle-harlem-new-york...,0.000000,5.0,-0.000000,0.0
2,g_Zz87qghqq9bKHiKyws0w,"[tradamerican, speakeasies, latin]",Bronx,226,40.807370,-73.927520,Beatstro,(718) 489-9397,"[135 Alexander Ave, Bronx, NY 10454]",NY,...,False,4.0,151,2,"[pickup, restaurant_reservation, delivery]",https://www.yelp.com/biz/beatstro-bronx?adjust...,0.979796,5.0,0.063633,3.0
3,6AC4yhUdnh64zE6b5-n6OQ,[newamerican],New York,162,40.813340,-73.944670,Renaissance Harlem,(646) 838-7604,"[2245 Adam Clayton Powell, New York, NY 10027]",NY,...,False,4.0,144,2,"[restaurant_reservation, pickup, delivery]",https://www.yelp.com/biz/renaissance-harlem-ne...,0.000000,5.0,0.000000,3.0
4,W_0AX5JL3QZnX1oQNxQGtw,[mexican],Bronx,350,40.818565,-73.916828,Xochimilco Family Restaurant,(718) 402-5400,"[653 Melrose Ave, Bronx, NY 10455]",NY,...,False,4.5,76,2,[],https://www.yelp.com/biz/xochimilco-family-res...,1.600000,5.0,-0.029553,0.0

Here, we will calculate restaurant density within 1 mile radius and other relative quantities.  The z\* quantities are relative to the equivalent quantities of the surrounding restaurants.

Check if the new calculation for is_chain worked.

In [10]:
# this function returns distance in miles given longitude and latitude of two locations
import math
import sys
def distance(ilat,jlat,ilong,jlong):
    R = 6371.e3 # earth radius in m
    phi1 = math.radians(ilat)
    phi2 = math.radians(jlat)
    deltaphi = math.radians(jlat-ilat)
    deltalambda = math.radians(jlong-ilong)
    a = math.sin(deltaphi/2)**2 + math.cos(phi1)*math.cos(phi2) * math.sin(deltalambda/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = R * c / 1609.34 # in miles
    return d

df_unprocessed['restaurant_density'] = np.nan
df_unprocessed['restaurant_similar_density'] = np.nan
df_unprocessed['zprice_all'] = np.nan
df_unprocessed['zreview_count_all'] = np.nan
df_unprocessed['zstar_all'] = np.nan
df_unprocessed['is_chain'] = np.nan
df_unprocessed['relative_user_ratings_total'] = np.nan

for i, restaurant in df_unprocessed.iterrows():
    try:
        price_all_list = []
        review_count_all_list = []
        review_per_week_all_list = []
        star_all_list = []
        density_similar_list = []
        density_all_list = []
        relative_user_ratings_list=0
    
        ilong = restaurant['coordinates.longitude']
        ilat = restaurant['coordinates.latitude']
        for category in restaurant['categories']:
            for jrestaurant in category_dic[category]:
                jlong = df_unprocessed.loc[jrestaurant]['coordinates.longitude']
                jlat = df_unprocessed.loc[jrestaurant]['coordinates.latitude']
                dist = distance(ilat,jlat,ilong,jlong)
            # if less than 1 mile (include self)
            # certain restaurants will be double counted if they belong to the same categories but
            # that's ok as it adds a weight for very similar restaurants
                if dist <= 1:
                    density_similar_list += [jrestaurant]
                    jrate = df_unprocessed.loc[jrestaurant]['user_ratings_total']
                    relative_user_ratings_list+=jrate
        df_unprocessed.loc[i,'restaurant_similar_density'] = len(density_similar_list)
        df_unprocessed.loc[i,'relative_user_ratings_total'] =(relative_user_ratings_list)/len(density_similar_list)
    
    
    # Loop over all resturants to calculate the "all" properties
        for j, jrestaurant in df_unprocessed.iterrows():
            jlong = jrestaurant['coordinates.longitude']
            jlat = jrestaurant['coordinates.latitude']
            dist = distance(ilat,jlat,ilong,jlong)
        # if less than 1 mile (include self in calculation of statistics)
            if dist <= 1:
                price_all_list += [jrestaurant['price']]
                review_count_all_list += [jrestaurant['review_count']]
            #review_per_week_all_list += [jrestaurant['reviews_per_week']]
                star_all_list += [jrestaurant['rating']]
                density_all_list += [j]
        
        
    # price and stars are not divided by standard deviation because it is often equal to 0
        df_unprocessed.loc[i,'zprice_all'] = (restaurant['price']-np.nanmean(price_all_list))/4.
    #df_unprocessed.loc[i,'relative_user_ratings_total'] = (restaurant['user_ratings_total']-np.nanmean(price_all_list))/4.
        df_unprocessed.loc[i,'zreview_count_all'] = (restaurant['review_count']-np.nanmean(review_count_all_list))/np.nanstd(review_count_all_list)
    #df_unprocessed.loc[i,'zreview_per_week_all'] = (restaurant['reviews_per_week']-np.nanmean(review_per_week_all_list))/np.nanstd(review_per_week_all_list)
        df_unprocessed.loc[i,'zstar_all'] = (restaurant['rating']-np.nanmean(star_all_list))/5.
        df_unprocessed.loc[i,'restaurant_density'] = len(density_all_list)
    #print(len(density_all_list))
        df_unprocessed.loc[i,'restaurant_similar_density'] = len(density_similar_list)
    # True if there are more than one
        df_unprocessed.loc[i,'is_chain'] = (len(df_unprocessed[df_unprocessed['name'] == restaurant['name']]) > 1)
    
        if i % 10 == 0:
            print(i)
        if i==10:
            print(df_unprocessed.head())
    except:
        print(restaurant['business_id'])
        print(sys.exc_info())
        continue

0
10
              business_id                            categories         city  \
0  RDE8pT0YZbz4BsO_sPKbcg             [cafes, coffee, catering]  South Bronx
1  8G6H30Krmj8-OHs6hZfT1g  [newamerican, southern, comfortfood]     New York
2  g_Zz87qghqq9bKHiKyws0w    [tradamerican, speakeasies, latin]        Bronx
3  6AC4yhUdnh64zE6b5-n6OQ                         [newamerican]     New York
4  W_0AX5JL3QZnX1oQNxQGtw                             [mexican]        Bronx

   user_ratings_total  coordinates.latitude  coordinates.longitude  \
0                 108             40.810086             -73.921687
1                  79             40.817300             -73.941710
2                 226             40.807370             -73.927520
3                 162             40.813340             -73.944670
4                 350             40.818565             -73.916828

                           name   display_phone  \
0               Mottley Kitchen  (929) 308-2099
1                  Belle Harlem  (347) 819-4076
2                      Beatstro  (718) 489-9397
3            Renaissance Harlem  (646) 838-7604
4  Xochimilco Family Restaurant  (718) 402-5400

                            location.display_address location.state  \
0            [402 E 140th St, South Bronx, NY 10454]             NY
1  [2363 Adam Clayton Powell Blvd, New York, NY 1...             NY
2               [135 Alexander Ave, Bronx, NY 10454]             NY
3     [2245 Adam Clayton Powell, New York, NY 10027]             NY
4                 [653 Melrose Ave, Bronx, NY 10455]             NY

              ...              price  \
0             ...                  2
1             ...                  3
2             ...                  2
3             ...                  2
4             ...                  2

                                 transcations  \
0                          [pickup, delivery]
1                                          []
2  [pickup, restaurant_reservation, delivery]
3  [restaurant_reservation, pickup, delivery]
4                                          []

                                                 url  restaurant_density  \
0  https://www.yelp.com/biz/mottley-kitchen-south...               130.0
1  https://www.yelp.com/biz/belle-harlem-new-york...               332.0
2  https://www.yelp.com/biz/beatstro-bronx?adjust...               229.0
3  https://www.yelp.com/biz/renaissance-harlem-ne...               378.0
4  https://www.yelp.com/biz/xochimilco-family-res...               172.0

  restaurant_similar_density zprice_all zreview_count_all  zstar_all  \
0                       13.0   0.153846          0.535234   0.243077
1                       33.0   0.385542          0.032279   0.228012
2                       37.0   0.138646          0.268057   0.126201
3                       20.0   0.121693          0.031962   0.120635
4                       25.0   0.146802          0.849176   0.256977

   is_chain  relative_user_ratings_total
0     False                   354.076923
1     False                   456.575758
2     False                   406.810811
3     False                   447.350000
4     False                   206.360000

[5 rows x 24 columns]
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290

/opt/conda/envs/data3/lib/python3.6/site-packages/ipykernel_launcher.py:68: RuntimeWarning: invalid value encountered in double_scalars

1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2630
2640
2650
2660
2670
2680
2690
2700
2710
2720
2730
2740
2750
2760
2770
2780
2790
2800
2810
2820
2830
2840
2850
2860
2870
2880
2890
2900
2910
2920
2930
2940
2950
2960
2970
2980
2990
3000
3010
3020
3030
3040
3050
3060
3070
3080
3090
3100
3110
3120
3130
3140
3150
3160
3170
3180
3190
3200
3210
3220
3230
3240
3250
3260
3270
3280
3290
3300
3310
3320
3330
3340
3350
3360
3370
3380
3390
3400
3410
3420
3430
3440
3450
3460
3470
3480
3490
3500
3510
3520
3530
3540
3550
3560
3570
3580
3590
3600
3610
3620
3630
3640
3650
3660
3670
3680
3690
3700
3710
3720
3730
3740
3750
3760
3770
3780
3790
3800
3810
3820
3830
3840
3850
3860
3870
3880
3890
3900
3910
3920
3930
3940
3950
3960
3970
3980
3990
4000
4010
4020
4030
4040
4050
4060
4070
4080
4090
4100
4110
4120
4130
4140
4150
4160
4170
4180
4190
4200
4210
4220
4230
4240
4250
4260
4270
4280
4290
4300
4310
4320
4330
4340
4350
4360
4370
4380
4390
4400
4410
4420
4430
4440
4450
4460
4470
4480
4490
4500
4510
4520
4530
4540
4550
4560
4570
4580
4590
4600
4610
4620
4630
4640
4650
4660
4670
4680
4690
4700
4710
4720
4730
4740
4750
4760
4770
4780
4790
4800
4810
4820
4830
4840
4850
4860
4870
4880
4890
4900
4910
4920
4930
4940
4950
4960
4970
4980
4990
5000
5010
5020
5030
5040
5050
5060
5070
5080
5090
5100
5110
5120
5130
5140
5150
5160
5170
5180
5190
5200
5210
5220
5230
5240
5250
5260
5270
5280
5290
5300
5310
5320
5330
5340
5350
5360
5370
5380
5390
5400
5410
5420
5430
5440
5450
5460
5470
5480
5490
5500
5510
5520
5530
5540
5550
5560
5570
5580
5590
5600
5610
5620
5630
5640
5650
5660
5670
5680
5690
5700
5710
5720
5730
5740
5750
5760
5770
5780
5790
5800
5810
5820
5830
5840
5850
5860
5870
5880
5890
5900
5910
5920
5930
5940
5950
5960
5970
5980
5990
6000
6010
6020
6030
6040
6050
6060
6070
6080
6090
6100
6110
6120
6130
6140
RT9J7k42HkokPbRNk8q6XA
(<class 'TypeError'>, TypeError('cannot perform reduce with flexible type',), <traceback object at 0x7f127b271dc8>)
6150
6160
6170
6180
6190
6200
6210
6220
6230
6240
6250
6260
6270
6280
6290
6300
6310
caijvCRHDGIFvT2mzJjZpg
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero',), <traceback object at 0x7f127bd59f48>)
6320
6330
6340
6350
6360
6370
6380
6390
6400
6410
6420
6430
6440
6450
6460
6470
6480
6490
6500
6510
6520
6530
6540
6550
6560
6570
6580
6590
6600
6610
6620
6630
6640
6650
6660
6670
6680
6690
6700
6710
6720
6730
6740
6750
6760
6770
6780
6790
6800
6810
6820
6830
6840
6850
6860
6870
6880
6890
6900
6910
6920
6930
6940
6950
6960
6970
6980
6990
7000
7010
7020
7030
7040
7050
7060
7070
7080
7090
CQEy2d3EB3DLOOCLdJicJQ
(<class 'TypeError'>, TypeError('cannot perform reduce with flexible type',), <traceback object at 0x7f127b3123c8>)
7100
7110
7120
7130
7140
7150
7160
7170
7180
7190
7200
7210
7220
7230
7240
7250
7260
7270
7280
7290
7300
7310
7320
7330
7340
7350
7360
7370
7380
7390
7400
7410
7420
7430
7440
7450
7460
7470
7480
7490
7500
7510
7520
7530
7540
7550
7560
7570
7580
7590
7600
7610
7620
7630
7640
7650
7660
7670
7680
7690
7700
7710
7720
7730
7740
4MMIHYz8PmQmrB1JcwXarA
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero',), <traceback object at 0x7f127b27cc48>)
7750
7760
7770
7780
7790
7800
7810
7820
To0j48qBBOp4aDRyYn06Nw
(<class 'TypeError'>, TypeError('cannot perform reduce with flexible type',), <traceback object at 0x7f127bf345c8>)
7830
7840
7850
7860
7870
7880
7890
7900
7910
7920
7930
7940
7950
7960
7970
7980
7990
8000
8010
8020
8030
8040
8050
8060
8070
8080
8090
8100
8110
8120
8130
8140
8150
8160
8170
8180
8190
8200
8210
8220
8230
8240
8250
8260
8270
8280
8290
8300
8310
8320
8330
8340
8350
8360
8370
8380
8390
8400
8410
8420
8430
8440
8450
8460
8470
8480
8490
8500
8510
8520
8530
8540
8550
8560
8570
8580
8590
8600
8610
8620
8630
8640
8650
8660
8670
8680
8690
8700
8710
8720
8730
8740
8750
8760
8770
8780
8790
8800
8810
8820
8830
8840
8850
8860
8870
8880
8890
F_gWy2YWqWRDn99yHoo_rw
(<class 'TypeError'>, TypeError('cannot perform reduce with flexible type',), <traceback object at 0x7f127b271e08>)
8900
8910
8920
8930
8940
8950
8960
8970
8980
8990
9000
9010
9020
9030
9040
9050
9060
9070
9080
9090
9100
9110
9120
9130
9140
9150
9160
9170
9180
9190
9200
9210
9220
9230
9240
9250
9260
9270
9280
9290
9300
9310
9320
9330
9340
9350
9360
9370
9380
9390
9400
9410
9420
9430
9440
9450
9460
9470
9480
9490
9500
9510
9520
9530
9540
9550
9560
9570
9580
9590
9600
9610
9620
9630
9640
9650
9660
9670
9680
9690
9700
9710
9720
9730
9740
9750
9760
9770
9780
9790
9800
9810
9820
9830
9840
9850
9860
9870
9880
9890
9900
9910
9920
9930
9940
9950
9960
9970
9980
9990
10000
10010
10020
10030
10040
10050
10060
10070
10080
10090
10100
10110
10120
10130
10140
10150
10160
10170
10180
10190
10200
10210
10220
10230
10240
10250
10260
10270
10280
10290
10300
10310
10320
10330
10340
10350
10360
10370
10380
10390
10400
10410
10420
10430
10440
10450
10460
10470
10480
10490
10500
10510
10520
10530
10540
10550
10560
10570
10580
10590
10600
10610
10620
10630
10640
10650
10660
10670
10680
10690
10700
10710
10720
10730
10740
10750
10760
10770
10780
10790
10800
10810
10820
10830
10840
10850
10860
10870
10880
10890
10900
10910
10920
10930
10940
10950
10960
10970
10980
10990
11000
11010
11020
11030
11040
11050
11060
11070
11080
11090
11100
11110
11120
11130
11140
11150
11160
11170
11180
11190
11200
11210
11220
11230
11240
11250
11260
11270
11280
11290
11300
11310
11320
11330
11340
11350
11360
11370
11380
11390
11400
11410
11420
11430
11440
11450
11460
11470
11480
11490
11500
11510
11520
11530
11540
11550
11560
11570
11580
11590
11600
11610
11620
11630
11640
11650
11660
11670
11680
11690
11700
11710
11720
11730
11740
11750
11760
11770
11780
11790
11800
11810
11820
11830
11840
11850
11860
11870
11880
11890
11900
11910
11920
11930
11940
11950
11960
11970
11980
11990
12000
12010
12020
12030
EVH3Y_xhthvSJN-TRtzZFg
(<class 'TypeError'>, TypeError('cannot perform reduce with flexible type',), <traceback object at 0x7f127bf34408>)
12040
12050
12060
12070
12080
12090
12100
12110
12120
12130
12140
12150
12160
12170
12180
12190
12200
12210
12220
12230
12240
12250
12260
12270
12280
12290
12300
12310
12320
12330
12340
12350
12360
12370
12380
12390
12400
12410
12420
12430
12440
12450
12460
12470
12480
12490
12500
12510
12520
12530
12540
12550
12560
12570
12580
12590
12600
12610
12620
12630
12640
12650
12660
12670
12680
12690
12700
12710
12720
12730
12740
12750
12760
12770
12780
12790
12800
12810
12820
12830
12840
12850
12860
12870
12880
12890
12900
12910
12920
12930
12940
12950
12960
12970
12980
12990
13000
13010
13020
13030
13040
13050
13060
13070
13080
13090
13100
13110
13120
13130
13140
13150
13160
13170
13180
13190
13200
13210
13220
13230
13240
13250
13260
13270
13280
13290
13300
13310
13320
13330
13340
13350
13360
13370
13380
13390
13400
13410
13420
13430
13440
13450
13460
13470
13480
13490
13500
13510
13520
13530
13540
13550
13560
13570
13580
13590
13600
13610
13620
13630
13640
13650
13660
13670
13680
13690
13700
13710
13720
13730
13740
13750
13760
13770
13780
13790
13800
13810
13820
13830
13840
13850
13860
13870
13880
13890
13900
13910
13920
13930
13940
13950
13960
13970
13980
13990
14000
14010
14020
14030
14040
14050
14060
14070
14080
14090
14100
14110
14120
14130
14140
14150
14160
14170
14180
14190
14200
14210
14220
14230
14240
14250
14260
14270
14280
14290
14300
14310
14320
14330
14340
14350
14360
14370
14380
14390
14400
14410
14420
14430
14440
14450
14460
14470
14480
14490
14500
14510
14520
14530
14540
14550
14560
14570
14580
14590
14600
14610
14620
14630
14640
14650
14660
14670
14680
14690
14700
14710
14720
14730
14740
14750
14760
14770
14780
14790
14800
14810
14820
14830
14840
14850
14860
14870

14880
14890
14900
14910
14920
14930
14940
14950
14960
14970
14980
14990
15000
15010
15020
15030
15040
15050
15060
15070
15080
15090
15100
15110
15120
15130
15140
15150
15160
15170
15180
15190
15200
15210
15220
15230
15240
15250
15260
15270
15280
15290
15300
15310
15320
15330
15340
15350
15360
15370
15380
15390
15400
15410
15420
15430
15440
15450
15460
15470
15480
15490
15500
15510
15520
15530
15540
15550
15560
15570
15580
15590
15600
15610
15620
15630
15640
15650
15660
15670
15680
15690
15700
15710
15720
15730
15740
15750
15760
15770
15780
15790
15800
15810
15820
15830
15840
15850
15860
15870
15880
15890
15900
15910
15920
15930
15940
15950
15960
15970
15980
15990
16000
16010
16020
16030
16040
16050
16060
16070
16080
16090
16100
16110
16120
16130
16140
16150
16160
16170
16180
16190
16200
16210
16220
16230
16240
16250
16260
16270
16280
16290
16300
16310
16320
16330
16340
16350
16360
16370
16380
16390
16400
16410
16420
16430
16440
16450
16460
16470
16480
16490
16500
16510

In [11]:
df_unprocessed.head()
df_unprocessed[['name','is_chain']]

                                                   name is_chain
0                                       Mottley Kitchen    False
1                                          Belle Harlem    False
2                                              Beatstro    False
3                                    Renaissance Harlem    False
4                          Xochimilco Family Restaurant    False
5                                       The Edge Harlem    False
6                                       Gun Hill Tavern    False
7                               Charlie's Bar & Kitchen    False
8                                    Red Rooster Harlem    False
9                                              Franco's    False
10                                         Los Nisperos    False
11                                 La Morada Restaurant    False
12                                   La Isla Cuchifrito    False
13                                          Porto Salvo    False
14                                          Milk Burger    False
15                                         Bickles 2 Go    False
16                                    Lechonera La Isla    False
17                                  Landin Mac & Cheese    False
18                           Sisters' Caribbean Cuisine    False
19                                          Hungry Bird    False
20                                              Barepas    False
21                                    La Perla Mexicana     True
22                           Flavas International Grill    False
23                                       Benyam Cuisine    False
24                                      PEQUE Tapas Bar    False
25                                           Babbalucci    False
26                                  Sylvia's Restaurant    False
27                                        Nobodys Pizza    False
28                                         Ponty Bistro    False
29                                 Smokey island Grille    False
...                                                 ...      ...
16487                                           Sachiko    False
16488                                  Rocco's Pizzeria     True
16489  Main Street C&L Imperial Taiwanese Gourmet 北港台菜館    False
16490                             Kung Fu Xiao Long Bao    False
16491                                    Pot Pa Hot Pot    False
16492                                        88 Canteen    False
16493                                  Bodai Vegetarian    False
16494                                     Asian Gourmet    False
16495                                    E Noodle House     True
16496                               Shanghai Cuisine 33    False
16497                                 Hajrah Halal Food    False
16498                             A+ Chinese Restaurant    False
16499                                  Nan Yang Kitchen    False
16500                                            MJ USA    False
16501                                       El Gauchito     True
16502                                 Fillmore's Tavern    False
16503                 Phil & Sons Pizzeria & Restaurant    False
16504                                   Ace Bagels Cafe    False
16505                           East Dim Sum Restaurant    False
16506                                         Tost Cafe     True
16507                           Happy Garden Restaurant    False
16508                               Soon Deli & Grocery    False
16509                                 Gino's of Kissena    False
16510                                Kan Wah Restaurant    False
16511                                 Shah's Halal Cart     True
16512                                 New Wok's Kitchen    False
16513                                      Danny's Deli    False
16514                                            Subway     True
16515                                 Shah's Halal Food     True
16516                      Food Court At Queens College    False

[16517 rows x 2 columns]

In [32]:
dill.dump(df_xunprocessed,open('./data/NYC-features.dill','wb'))

In [13]:
len(category_dic)

260

In [5]:
len(df_unprocessed)

NameError: name 'df_unprocessed' is not defined